{% extends "layout.html" %}

{% block title %}
    Forecasts
{% endblock %}

{% block main %}
    <div class="mb-3">
        <h1>Get Weather and Air Quality Forecast</h1>
        <p>Enter the latitude and longitude coordinates for your desired location below (to four decimal places).</p>
        <br>
        <form action='/forecasts' method='post'>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="lat" name="lat" placeholder="Latitude" type="number" step="0.0001">
            </div>
            <br>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="lon" name="lon" placeholder="Longitude" type="number" step="0.0001">
            </div>
            <br>
            <div class="form-group">
                <button type='submit' class="btn btn-primary" value='Forecast'>Get Forecast</button>
            </div>
        </form>
        <br>
        <p>Forecasts provided by <span><a href="https://open-meteo.com/en/docs">Open-Meteo</a></span></p>
    </div>

{% endblock %}
